<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="aggressiveLazyLoading" value="false"/>
        <setting name="useGeneratedKeys" value="true"/>
        <setting name="logImpl" value="SLF4J"/>
        <setting name="localCacheScope" value="SESSION"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="jtw.jtwback.com.BaseMap" alias="BaseMap"/>
    </typeAliases>

    <typeHandlers>
        <typeHandler handler="org.apache.ibatis.type.LocalDateTimeTypeHandler" jdbcType="TIMESTAMP"/>
        <typeHandler handler="org.apache.ibatis.type.LocalDateTypeHandler" jdbcType="DATE"/>
        <typeHandler handler="org.apache.ibatis.type.ClobTypeHandler" javaType="String" jdbcType="CLOB" />
    </typeHandlers>
</configuration>